{% import 'macros.html' as macro %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="">
        <meta property="og:type" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">
        <meta property="og:site_name" content="">

        {{ macro.load_resource('css', 'base') }}

    {% endblock head %}
</head>
<body>
    {% block content %} {% endblock content %}

    {% block footer %}
    {% endblock footer %}

    {% block footer_scripts %}

        {{ macro.load_resource('js', 'base') }}
        <script>
            window.csrf_token = "{{csrf_token()}}";
        </script>
        
    {% endblock footer_scripts %}
</body>